source ~/.bash_profile
# export ORACLE_SID={{ src_db }}
# export ORACLE_HOME={{ tgt_oh }}
# export PATH=$PATH:$ORACLE_HOME/bin

sqlplus -s / as sysdba << EOF
startup mount
alter system set db_unique_name='{{ tgt_db }}' scope=spfile;
shutdown abort
startup
exit
EOF
