source ~{{ tgt_gu }}/.bashrc
export ORACLE_SID={{ tgt_asm_sid }}
# export ORACLE_HOME={{ tgt_oh }}
# export PATH=$PATH:$ORACLE_HOME/bin

sqlplus -s / as sysasm << EOF
alter diskgroup {{ targetVol.vol1.dgname }} mount force;
alter diskgroup {{ targetVol.vol2.dgname }} mount force;
exit
EOF
